<div class="col-sm-6 post-snippet masonry-item">
    <a href="{{ post.url}}">
        <img alt="Post Image" src="{{ post.imageSmall}}"/>
    </a>

    <div class="inner">
        <a href="{{ post.url}}">
            <h5 class="mb0">{{ post.title }}</h5>
                            <span class="inline-block mb16" style="margin-bottom:0">
                                {{ post.date | date: "%b %-d, %Y" }} <br/>
                            </span>

        </a>

        <p style="margin-bottom: 10px">{{ tags_content }}</p>
        <hr>
        <p>
            {{ post.description }}
        </p>
        <a class="btn btn-sm" href="{{ post.url}}">Read More</a>
        <ul class="tags pull-right">
            <li>
                <a class="btn btn-sm btn-icon" href="https://twitter.com/intent/tweet?url=https://blog.stackleader.com{{ post.url }}&text={{ post.title }}">
                    <i class="ti-twitter-alt"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-sm btn-icon" href="https://www.facebook.com/sharer/sharer.php?u=https://blog.stackleader.com{{ post.url }}">
                    <i class="ti-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--end of snippet-->