<div class="nav-container">
    <a id="top"></a>
    <nav class="bg-dark">
        <div class="nav-bar">
            <div class="module left logo">
                <a href="https://stackleader.com" style="color: white"><img src="{{ site.github.url }}/img/stackLeaderLogo.png" alt="StackLeader" /></a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li>
                            <a href="https://stackleader.com">Home</a>
                        </li>
                        <li>
                            <a href="https://blog.stackleader.com">Blog</a>
                        </li>
                        <li>
                            <a href="https://stackleader.com/contact.html">Contact</a>
                        </li>
                        <li>
                            <a href="https://stackleader.com/about.html">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>