<div class="widget bg-secondary p24">
    <h5 class="uppercase mb16">Subscribe Now</h5>

    <p>
        Subscribe to our newsletter for a round-up of the week's most popular articles.
    </p>

    <div class="contact-form">
        <form class="contact">
            <input type="text" class="mb0" name="email" placeholder="Email Address"/>
            <input type="hidden" name="message" value="Blog Newsletter Signup"/>
            <input type="submit" class="submit" value="Subscribe"/>
        </form>
        <div class="alert alert-danger alert-dismissible hidden" role="alert">

        </div>
    </div>
</div>