<ul class="link-list">
    <li>
        <a href="{{ site.github.url }}/tags/automation">Automation</a>
    </li>
    <li>
        <a href="{{ site.github.url }}/tags/docker">Docker</a>
    </li>
    <li>
        <a href="{{ site.github.url }}/tags/osgi">OSGi</a>
    </li>
    <li>
        <a href="{{ site.github.url }}/tags/camel">Apache Camel</a>
    </li>
    <li>
        <a href="{{ site.github.url }}/tags/cloud">Cloud</a>
    </li>
    <li>
        <a href="{{ site.github.url }}/tags/node">Node.js</a>
    </li>
</ul>